<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Model Validation</title>
    <link asp-href-include="~/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("scripts", false)
</head>
<body class="m-1 p-1">
    <div>
        @RenderBody()
    </div>
</body>
</html>
